@import url(https://fonts.googleapis.com/css?family=Roboto);

*, *::after, *::before {
    box-sizing: border-box;
}
body{
	background-image: url("../resource/bgpatternbitmatch.png");
}

#home{
	background-image: url("../resource/BgBitMatchhome.jpg");
}

html{
  position: relative;
  min-height: 100%;
}

body{
	background-color: #f1f1f1;
	background-repeat: repeat;
	background-attachment: fixed;
	margin:0;
}

.bodydiv, #accountdiv, #profilediv, #editavatardiv, #alluserdiv{
	height:100%;
}

#home{
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

h1{
	font-family: 'Roboto', sans-serif;
}

p, #aboutme{
	font-family: "Arial";
	font-size: 18px;
  text-decoration: none;
  color:#000;
}

#users>a{
  text-decoration: none;
  height:10em;
  padding:.5em;
  margin:1em;
  background-color: #f1f1f1;
  border:#800 solid 1px;
}

p{
  text-decoration: none;
}

.wrapper, #mainaccount, #editaccount{
	margin-left:35%;
 	padding: 20px;
	width: 675px;
	background-color: #fafafa;
	margin-top:11%;
	border-radius: 2px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	overflow: hidden;
	display:inline-block;
	margin-bottom: 6em;
}

#labels>p{
  margin-bottom: 2.3em;
}

.loginwrapper{
  margin-bottom:10.8em;
}

#editflex{
  display:flex;
}

#labels{
  width:25%;
  margin-left: 1em;
}

#input{
  width:75%;
}

#input>input, #input>select{
  margin-top: .5em;
}

#submitchange{
  margin-top: 2em;
}

#mainaccount, #editaccount{
  margin-top:4%;
  margin-left:20%;
  width:1250px;
}

#alluserdiv{
  width:1500px;
  margin-top:4%;
  margin-left:15%;
}

.shortdescription{
  width:24em;
  display:flex;
}

.shortdetails{
  width:65%;
}

#users{
  display: flex;
  flex-wrap: wrap;
  margin-left:5%;
}

.otheravatar{
  width:35%;
  margin-right: .5em;
  height:140px;
  background-size: cover;
  background-position: center;
}

.register{
		margin-top:6%;
}

.header{
	font-weight: 100;
	text-align: center;
	font-size: 2.3em;
}

select, input[type="text"], input[type="password"]{
	height: 44px;
	font-size: 16px;
	width: 100%;
	margin-bottom: 10px;
	background: #fff;
	border: 1px solid #d9d9d9;
	border-top: 1px solid #c0c0c0;
	/* border-radius: 2px; */
	padding: 0 8px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
input[type="text"], input[type="password"]{
	-webkit-appearance: none;
}
#avatarpicker{
  margin-top:1em;
  font-size:18px;
  margin-bottom:3em;
}

.invisible{
  display:none;
}

input[type="checkbox"]{
  width:20px;
  height:20px;
  margin-top:1.5em !important;
  margin-bottom:3em;
}

textarea{
  font-size: 18px;
  font-family: "Arial";
  margin-bottom: 3em;
}

input[type="submit"]{
	border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1);
  background-color: #800;
	width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
	height:36px;
	font-size:18px;
}

#registerlink, #editavatarlink{
		text-decoration: none;
  	color: #222;
  	font-weight: 400;
  	text-align: center;
  	display: inline-block;
  	opacity: 0.6;
  	transition: opacity ease 0.5s;
		margin-left:30%;
		font-family: 'Roboto', sans-serif;
}

#editavatarlink{
  margin-left: 36%;
  margin-bottom: 1em;
  color:#800;
  opacity: 1;
}

#agreement{
	color: #666;
	font-size:16px;
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
}

footer{
  position: absolute;
  left: 0;
  font-size: .8em;
	font-weight: 400;
  font-family: 'Arial';
  width: 100% ;
  background-color: #333;
	color:#999;
	padding: 2em 20% 0 20%;
	box-shadow: 0px 12px 7px -5px #222 inset;
	z-index: 10;
	display:block;
}

.avatar{
  margin-bottom:19em;
}

footer ul{
	flex:1;
	margin: 0 2em 0 0;
	padding:0;
	border-right: 1px solid #454545;
	list-style-type:none;
}

footer ul:last-of-type{
	border:0;
}

footer ul li{
	margin: .3em 0;
}

footer ul li a{
	text-decoration: none;
	color:inherit;
}

footer #copyright{
	font-size:.9em;
	margin: 1em 0 0 0;
	padding: 1em 0;
	border-top: 1px solid #454545;
}

.flexwrapper{
	display: flex;
}

#policy{
  position:fixed;
	visibility: hidden;
  transition: visibility 0.5s linear 0.5s,opacity 0.5s linear;
  opacity:0;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color: rgba(0,0,0,.5);
  z-index:200;
}

#policy form{
  text-align: center;
  background-color: #eee;
  padding:1em;
  position:fixed;
  top:25%;
  opacity: 1;
  width:25%;
  left:37.5%;
  border-radius: 5px;
}

#policy form p{
  text-align: left;
}

#inlinepolicylink{
  color:#006;
}

#readpolicy, #datelink{
  padding:10px 20px;
  font-family: 'Arial';
  font-size:18px;
  background-color: #800;
  color:#fff;
  text-decoration: none;
}

#datelink{

}

.link{
  width:100%;
    text-align: center;
}

#requesteduserdata{
  margin-top:1.5em;
}

#messagebox, #loginmessagebox, #editmessagebox{
  color:#f00;
  font-family: 'Roboto';
  font-size:18px;
}

#details ul, #detaildata ul{
  list-style-type: none;

}

#detaildata ul{
  -webkit-padding-start: 20px;
  padding-left: 20px;
}

#details ul{
  padding-left: 0px;
  -webkit-padding-start: 0px;
}

#userdata, #requesteduserdata{
  display:flex;
}

#details{
  width:50%;
  font-weight:bold;
  border-right: 1px solid #999;
  border-top: 1px solid #999;
}

#detailwrapper{
  display: flex;
  width:25%;
}

#detaildata{
  width:50%;
  border-top: 1px solid #999;
}

#details ul li{
  font-weight:bold;
}

#details ul li, #detaildata ul li{
  font-size:18px;
  font-family: 'Arial';
}

.accountname{
  border-bottom: 1px solid #999;
  padding-bottom: 10px;
}

#profilepic{
  margin-right: 1em;
  width:300px;
  height:300px;
  margin-bottom:1em;
  margin-left: 2.5em;
  display:inline-block;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center, center;
}

#divider{
  display:flex;
}

#picwrapper{
  border-right: 1px solid #999;
  width:35%;
}

#descriptionwrapper{
  display:flex;
  width:75%;
}

#description{
  width:100%;
  margin-left:2em;
  padding-right: 2em;
}


nav {
	font-weight: 400;
	/*margin-bottom: 1.5em;*/
	background: #fcfcfc;
	display: block;
	width: 100%;
	line-height: 1.5em;
/*	box-shadow: 10px 10px 0px 0px red;*/
	z-index: 10;
  font-family: 'Arial';
  font-size:20px;
}

nav ul {
	display: block;
	margin: 0;
	padding: 0;
	list-style: none;
}

nav ul li {
	display: inline-block;
	background: #fcfcfc;
}

nav ul li a {
	border-right: 1px solid #eee;
	padding: 1em;
	display: inline-block;
	text-decoration: none;
	transition: all .3s ease;
	color: #000;
}

nav ul li a:hover {
	box-shadow: 5px 0px 0px 0px #800 inset;
	background: rgba(150, 150, 150, .1);
}

nav > ul > li ul {
	box-shadow: 0 1px 2px -1px rgba(0,0,0,.1);
	position: absolute;
	z-index: -10;
}

/*first level*/

nav > ul > li:hover > ul {
	display: block;
	top: 3.5em;
	opacity: 1;
	z-index: 10;
}

nav > ul > li > ul {
	display: block;
	top: 3em;
	transition: all .3s ease;
	opacity: 0;
}

nav > ul > li > ul li {
	display: block;
}

nav > ul > li > ul li a {
	border-top: 1px solid #f1f1f1;
	width: 10em;
	text-align: center;
}

/*further levels*/

nav > ul > li > ul > li ul {
	left: 0em;
	top: 0;
	opacity: 0;
	display: block;
	transition: all .3s ease;
}

nav > ul li > ul > li:hover > ul {
	display: block;
	opacity: 1;
	left: 10em;
}

.fileUpload {
  position: relative;
  display:block;
  overflow: hidden;
  margin: 10px;
  background-color: #800;
  width: 20%;
  height:2em;
  line-height: 1.75em;
}

#uploadFile{
  line-height: 28px;
  font-size: 16px;
  display: inline-block;
}

#avatarname{
  width:30%;
  margin-top:.65em;
  margin-left:.2em;
}

.fileUpload span{
  color:#fff;
  margin-top:.5em;
  vertical-align: middle;
  font-size: 18px;
  font-family: 'Arial';
  margin-left: 25%;
}

#avatardiv{
  display: flex;
}

.fileUpload input.upload {
  position: absolute;
  margin-top:1em;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

.shortdetails >p{
  -webkit-margin-after: .65em;
  -webkit-margin-before: .65em;
}

#loggedindetails>p{
  -webkit-margin-after: .1em;
  -webkit-margin-before: .1em;
}

.shortdetails>p:first-child{
  color:#800;
}

#loggedin{
  float: right;
  display:flex;
  width:300px;
  height:70px;
}

#navbarpic{
    width:23%;
    background-size: cover;
    height:70px;
}

#loggedin{
  background-color: #f9f9f9;
}

#loggedindetails{
  padding-top: 4px;
  height:70px;
  padding-left:.5em;
  width:77%;
  border:#800 solid 1px;
}

#loggedindetails>p:first-child{
}

#loggedindetails>p:last-child{
  color:#800;
}

#pages{
  text-align: center;
  margin: 0 auto;
  font-size: 0px;
}

#pages>a:first-child{
  border-left: #444 1px solid;
}
#pages>a{
  display:inline-block;
  font-size: 20px;
  text-decoration: none;
  font-family: 'Open Sans', 'Helvetica';
  padding:.5em 1em;
  color: #800;
  border-width: 1px 1px 1px 0px;
  border-color: #444;
  border-style: solid;
}

#selectedpage{
  color:#fff !important;
  background-color: #800;
}

#pagefilter{
  width:10%;
  margin-right:2%;
  margin-top:4%;
  float:right;
  border-radius: 2px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  background-color: #fafafa;

}

#pagefilter>p{
  margin-left:5%;
}

#pagefilter>select{
  width:70%;
  margin-left:5%;
}

#minimum{
  min-height: 79vh;
}

.wrapper>ul>li{
  font-size:18px;
  font-family: 'Arial';
}

strong{
  font-family:'Arial';
  font-size:18px;
}